.home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    gap: 48px;
}
.home img {
  max-width: 350px; /* o incluso 350px */
  width: 100%;
  height: auto;
}
.home p {
    color: var(--parrafo);
}
.home-text {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}