.contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px auto;
}
@media (min-width: 769px) {
    .contacto {
        margin: 50px auto;
        min-height: 80vh;
    }
}